html, body {
    height: 96%;
}

#gameBox {
    margin: 2%;
    height: 100%;
    min-height: 480px;
    min-width: 640px;

    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    background: url("images/background.png") center repeat-x ;
    background-size: cover;
}

#logo {
    width:240px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin: auto auto auto -120px;
}

#substrate {

    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background: url("images/substrate.png") no-repeat;
    min-height: 480px;
    min-width: 640px;
    z-index: 1;

}

#playButton{
    background: transparent url(images/sprites.png) no-repeat 0 0;
    width: 249px;
     height: 216px;
     position: relative;
 }

#playButton:active{
    background-position: 0 -218px ;
    width: 249px;
    height: 216px;
}


#settingsButton{
    background: url(images/settingsButton.png) no-repeat 0 0;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 6%;
    right: 5%;
    z-index: 3;
}

#settingsButton:active{
    background-position: 0 -150px ;
    width: 150px;
    height: 150px;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 10px solid #c77a00;
    background-image: url("images/background.png") ;
    background-size: cover;
    z-index:1002;
    overflow: auto;
}