#input_form{
    width: 235px;
    height:235px;
    border: 0;
  /* background-image: url("Templates/input_name.png");*/
   background-size: auto;
   background-repeat:no-repeat;
   text-align: center;
   align-content: center;
}
#input_form.ok{




}

