.photo {
    position: relative;
    height: 35vh;
    width: 35vh;
    float: left;
}

#leshaName, #dimaName, #natashaName, #mashaName, #jenyaName {
    position: absolute;
    width: 30vh;
}

#lesha {
    background-image: url("../images/we/Лешка.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    margin-left: -20vh;
    top: 60%;
}

#leshaName {
    width: 40vh;
    top: 20vh;
    left: 0;
    z-index: 10;
}

#dima {
    background-image: url("../images/we/Димка.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 10%;
    position: absolute;
    right: 10%;
}

#dimaName {
    top: 20vh;
    left: 10vh;
    z-index: 11;
}

#jenya {
    background-image: url("../images/we/Женька.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 10%;
    left: 10%;
}

#jenyaName {
    top: 25vh;
    left: -10vh;
    z-index: 12;
}

#masha {
    background-image: url("../images/we/Машка.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 35%;
    left: 25%;
    position: absolute;
}

#mashaName {
    top: 25vh;
    left: -10vh;
    z-index: 13;
}

#natasha {
    background-image: url("../images/we/Наташка.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 35%;
    right: 25%;
    position: absolute;
}

#natashaName {
    top: 25vh;
    left: 10vh;
    z-index: 14;
}

#whiteOverlayAboutUs {

    width: 90%;
    height: 90%;
    background-color: white;
    opacity: 0.9;
    display: none;
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 5%;
    border-radius: 5%;
}

#textHere {
    border: solid medium saddlebrown;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    z-index: 101;

}



