html, body {
    height: 100%;
    font-family: "Franklin Gothic Heavy", sans-serif;
    color: saddlebrown;
    text-align: center;
    font-size: 4vh;
    margin: 0;
}

h2 {
    margin-top: 0;
}

.menu {
    margin: 0;
    min-height: 240px;
    min-width: 320px;
    background: url("../images/background.jpg") center repeat-x;
    background-size: cover;
    height: 100%;


}

#main {
    display: block;
    height: 100%;
}

#aboutUsMenu, #helpMenu, #game, #newGame, #pauseMenu {
    display: none;
    height: 100%;
}

#pauseMenu
{
    background-color: rgba(0,0,0,0.8);

}

#aboutUsMenu {
    background-image: url("../images/we/title.png");
    background-size: 30%;
    background-position: top;
    background-repeat: no-repeat;
}


.button:hover {
    cursor: pointer;
}

.backButton {
    background: url("../images/backButton.png");
    position: absolute;
    background-size: cover;
    background-position: 0 0;
    width: 21.3vh;
    height: 21.3vh;
    bottom: 6%;
    left: 5%;
}

.backButton:active {
    background-position: 0 -21.3vh;;
}

#hexMap {
    display: block;
    /*width: 100%;*/
    /*height: 100%;*/
    position: relative;
    border: 1px solid black;
}