#far-clouds {
   background-image: url("../images/farClouds.png");
    background-repeat: repeat-x;
    background-size: cover;
   z-index:2;
   /*top:40%;*/
   /*left:40%;*/

    position: relative;
    height: 100%;
    width: 100%;
    top: -100%;
    min-height: 240px;
    min-width: 320px;

}

