.logo {
    width: 50vh;
    height: 50vh;
    position: absolute;
    left: 50%;
    margin: auto auto auto -25vh;
    background: url("../images/gameLogo.png") no-repeat;
    background-size: contain;
    z-index: 1001;
}

#substrate {

    position: relative;
    height: 100%;
    width: 100%;
    background: url("../images/substrate.png") no-repeat;
    background-size: cover;
    min-height: 240px;
    min-width: 320px;
    z-index: 1;

}

#playButton {
    background: url("../images/playButton.png") no-repeat 0 0;
    background-size: cover;
    width: 40vh; /*100*/
    height: 34.4vh; /*86*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20vh;
    z-index: 4;
}

#playButton:active {
    background-position: 0 -34.6vh;
}

.settings {
    background: url("../images/settingsButton.png") no-repeat 0 0;
    width: 21.3vh;
    height: 21.3vh;
    position: absolute;
    background-size: cover;
}

.settings:active {
    background-position: 0 -21.4vh;
}

#settingsButton1 {
    bottom: 6%;
    right: 5%;
    z-index: 3;
}

#settingsButton2 {
    bottom: 0;
    right: 0;
    z-index: 3;
}

#settingMenu {
    width: 39vh;
    height: 39vh;
    position: absolute;
    display: none;
    bottom: 6%;
    right: 5%;
    z-index: 5;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    display: none;
}

#volume, #aboutUs, #help, #noVolume {
    background-size: cover;
    position: absolute;
    width: 15vh;
    height: 15vh;
}

#volume {
    left: 7vh;
    top: 7vh;
    background-image: url("../images/menuButtons/volume_unpressed.png");
}

#volume:active {
    background-image: url("../images/menuButtons/volume_pressed.png");
}

#noVolume {
    left: 7vh;
    top: 7vh;
    background-image: url("../images/menuButtons/notVolume_unpressed.png");
}

#noVolume:active {
    background-image: url("../images/menuButtons/notVolume_pressed.png");
}

#aboutUs {
    left: 22vh;
    top: 1vh;
    background-image: url("../images/menuButtons/info_unpressed.png");
}

#aboutUs:active {
    background-image: url("../images/menuButtons/info_pressed.png");
}

#help {
    top: 22vh;
    left: 1vh;
    background-image: url("../images/menuButtons/help_unpressed.png");
}

#help:active {
    background-image: url("../images/menuButtons/help_pressed.png");
}

.pauseLink {
    position: absolute;
    font-size: 8pt;
    top: 0px;
    text-align: center;
}

/*---------При наведении--------------*/

.support-hover,
.support-hover-two {
    display: inline-block;
    position: relative;
    color: #06C;
    text-decoration: none;
    cursor: pointer;
}
.support-hover em,
.support-hover-two em {
    background: #FF6600;
    border-radius: 20px;
    border: 1px solid #999;
    text-align: center;
    color: #FFF;
    font: normal bold 16px Arial;
    padding: 0 4px;
}
a.support-hover:hover em,
a.support-hover-two:hover em {
    background: #6699FF;
}

#pauseButton {
    background-image: url("../images/menuButtons/pause_unpressed.png");
    background-size: cover;
    position: fixed;
    top: 2vh;
    left: 2vh;
    width: 18vh;
    height: 18vh;
}

#pauseButton:active{
    background-image: url("../images/menuButtons/pause_pressed.png");
}