#privatepanel {

    position: fixed;
    top: 2vh;
    right: 25vh;
    left: 25vh;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.panelText{
  color: rgba(255, 254, 133, 0.80);
  text-align:left;
}
#namegamer{
    color: rgb(245, 102, 24);


}